body{
background:#0d1117;
font-family:Arial;
color:white;
}

.container{
width:95%;
margin:auto;
}

h1{
text-align:center;
color:#00ff88;
}

button{
padding:12px;
margin:5px;
background:#00ff88;
border:none;
cursor:pointer;
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#00ff88;
color:black;
}

td,th{
padding:10px;
border:1px solid #444;
text-align:center;
}